body {
    margin: 0px;
    /* Устанавливает отступы по умолчанию для элемента body */
    background-color: rgba(249, 209, 149, 1);
    /* Устанавливает цвет фона с использованием RGBA */
    position: relative;
    /* Устанавливает позиционирование элемента относительно его первоначального положения */
    width: 1200px;
    /* Устанавливает ширину элемента в 1200 пикселей */
    margin-left: auto;
    /* Автоматически задает отступ слева элемента */
    margin-right: auto;
    /* Автоматически задает отступ справа элемента */
    text-align: left;
    /* Устанавливает выравнивание текста внутри элемента по левому краю */
}

.form_sketch {
    border-color: transparent;
    /* Устанавливает прозрачный цвет границы для элементов с классом .form_sketch */
    background-color: transparent;
    /* Устанавливает прозрачный цвет фона для элементов с классом .form_sketch */
}

#base {
    position: absolute;
    /* Устанавливает позиционирование элемента с id "base" абсолютно */
    z-index: 0;
    /* Устанавливает значение z-index (порядок слоя) элемента с id "base" */
}

/*Логотип*/
#u62_img {
    border-width: 0px;
    position: absolute;
    width: 348px;
    height: 206px;
}

#u62 {
    position: absolute;
    left: 426px;
    width: 348px;
    height: 206px;
    display: flex;
}

/*Шапка*/
#u63_div {
    position: absolute;
    /* Позиционируем элемент абсолютно */
    width: 862px;
    /* Ширина элемента */
    height: 68px;
    /* Высота элемента */
    background: inherit;
    /* Наследуем фон */
    background-color: rgba(249, 209, 149, 1);
    /* Цвет фона с полной непрозрачностью */
    box-sizing: border-box;
    /* Учитываем границы и отступы внутри размеров элемента */
    border-width: 1px;
    /* Толщина границы */
    border-style: solid;
    /* Стиль границы */
    border-color: rgba(249, 209, 149, 1);
    /* Цвет границы */
    box-shadow: none;
    /* Тень блока (отключена) */
    color: #F8D094;
    /* Цвет текста */
}

#u63 {
    border-width: 0px;
    position: absolute;
    left: 169px;
    top: 185px;
    width: 862px;
    height: 68px;
    display: flex;
    opacity: 0.84;
    color: #F8D094;
}

#u66_div,
#u68_div,
#u69_div,
#u70_div {
    border-width: 0px;
    position: absolute;
    width: 170px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(249, 209, 149, 1);
    border-radius: 5px;
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #68391A;
    border: 2px solid black;
    /* Обычная граница */
    transition: border-color 0.3s ease;
    /* Плавное изменение цвета границы */
    border-color: rgba(153, 227, 236, 1);
    /* Цвет границы при наведении */
}

/*КНОПКА О НАС*/
#u66 {
    border-width: 0px;
    position: absolute;
    left: 408px;
    top: 209px;
    width: 170px;
    height: 40px;
    display: flex;
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6F4427;
}

#u66 .text,
#u68 .text,
#u69 .text,
#u70 .text {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    text-decoration: none;
    /* Убираем подчеркивание */
    color: #673A1C;
    /* Задаем цвет текста */
}

#u66_text,
#u68_text,
#u69_text,
#u70_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}


/*КНОПКА КОНТАКТЫ*/
#u68 {
    position: absolute;
    left: 824px;
    top: 209px;
    width: 170px;
    height: 40px;
    display: flex;
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #68391A;
}

/*КНОПКА МЕНЮ*/
#u69 {
    position: absolute;
    /* Позиционируем элемент абсолютно */
    left: 616px;
    /* Отступ слева от левого края родительского контейнера на расстоянии 616 пикселей */
    top: 209px;
    /* Отступ сверху от верхнего края родительского контейнера на расстоянии 209 пикселей */
    width: 170px;
    /* Ширина элемента */
    height: 40px;
    /* Высота элемента */
    display: flex;
    /* Устанавливаем элемент как flex-контейнер */
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    /* Шрифт */
    font-weight: 700;
    /* Полужирное начертание */
    font-style: normal;
    /* Обычный стиль */
    color: #68391A;
    /* Цвет текста */
}

/*ГЛАВНАЯ*/
#u70 {
    position: absolute;
    left: 200px;
    top: 209px;
    width: 170px;
    height: 40px;
    display: flex;
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #673A1C;
}

/*АНИМАЦИЯ ДЛЯ ТЕГА А*/
.hyperlink {
    text-decoration: none;
    /* Убираем подчеркивание */
    color: #673A1C;
    /* Задаем цвет текста */
    padding: 5px 20px;
    /* Добавляем отступы вокруг текста */
    border-bottom: none;
    /* Убираем линию снизу */
    transition: color 0.3s ease;
    /* Анимация изменения цвета за 0.3 секунды с эффектом плавности */
}

a:hover {
    color: rgba(153, 227, 236, 1);
    /* Цвет текста ссылки при наведении */
}

#u51_div {
    position: absolute;
    /* Устанавливает позиционирование элемента абсолютно, относительно ближайшего позиционированного предка */
    width: 860px;
    /* Задает ширину элемента */
    height: 500px;
    /* Задает высоту элемента */
    background: inherit;
    /* Наследует фоновый цвет от родительского элемента */
    background-color: rgba(255, 255, 255, 1);
    /* Задает цвет фона (белый) с использованием прозрачности (1) */
    box-sizing: border-box;
    /* Устанавливает модель контента box-sizing: border-box, что позволяет учитывать границу и padding в расчетах размера элемента */
    border-width: 1px;
    /* Задает ширину границы */
    border-style: solid;
    /* Задает стиль границы (сплошная линия) */
    border-color: rgba(121, 121, 121, 1);
    /* Задает цвет границы (серый) с использованием прозрачности (1) */

}

#u51 {
    position: absolute;
    left: 169px;
    top: 282px;
    width: 862px;
    height: 496px;
    display: flex;
}

/* Фото кандитерки */
#u58_img {
    position: absolute;
    width: 380px;
    height: 480px;
}

#u58 {
    position: absolute;
    left: 180px;
    top: 290px;
    width: 360px;
    height: 400px;
    display: flex;
}

/* Текст */
#u59_div {
    position: absolute;
    width: 436px;
    height: 416px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u59 {
    position: absolute;
    left: 576px;
    /* Задает расположение элемента относительно левого края контейнера (576px слева) */
    top: 330px;
    /* Задает расположение элемента относительно верхнего края контейнера (330px сверху) */
    width: 436px;
    /* Задает ширину элемента */
    height: 416px;
    /* Задает высоту элемента */
    display: flex;
    /* Устанавливает тип отображения элемента как flex, что позволяет управлять его дочерними элементами */
    font-family: "Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
    /* Задает шрифт текста */
    font-weight: 600;
    /* Задает насыщенность шрифта (жирный) */
    font-style: normal;
    /* Задает стиль шрифта (обычный) */
    font-size: 20px;
    /* Задает размер шрифта (20 пикселей) */
}

#u59_text {
    font-family: Arial, sans-serif;
    /* Задает шрифт текста - Arial, а если его нет, то используется общий шрифт без засечек (sans-serif) */
    font-size: 18px;
    /* Задает размер шрифта (18 пикселей) */
    line-height: 1.1;
    /* Задает высоту строки как 1.1, что означает, что междустрочное расстояние будет равно 110% от размера шрифта */
    color: #68391A;
    /* Задает цвет текста (коричневый) */
    margin: 0 auto;
    /* Задает отступы: 0 сверху и снизу, и автоматическое выравнивание по горизонтали */
    max-width: 600px;
    /* Задает максимальную ширину элемента (600 пикселей) */
}


#u60_img,
#u61_div {
    position: absolute;
    width: 850px;
    height: 33px;
}

#u60,
#u61 {
    position: absolute;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    /*Задает размер шрифта (13 пикселей) */
}

/* Картинка с низу */
#u60 {
    left: 169px;
    top: 800px;
    width: 830px;
    height: 33px;
    display: flex;
    align-items: center;
}

#u60 .text,
#u61 .text {
    position: absolute;
    padding: 0;
    width: 100%;
}

/* Нижний текст */
#u61 {
    left: 465px;
    top: 830px;
    width: 271px;
    height: 21px;
    display: flex;
    align-items: flex-start;
}